* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(20, 18, 18);
  color: white;
  padding-top: 20px;
}

.center ul li {
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px 10px;
}

.title {
  font-size: 1rem;
}

.left {
  flex: 2px;
}

.center {
  flex: 4px;
}

.search {
  flex: 2px;
}
.search input{
  width: 20rem;
  padding: 10px;
  margin-left: -40px;
  border-radius: 5px;
}

.right {
  flex: 4px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.bannerBox {
  margin: 10px 5px;
}

.bannerBox img {
  cursor: pointer;
  width: 100%;
  height: 200px;
  cursor: pointer;
}

.menImages {
  display: flex;
  gap: 5px;

}

.menImages img {
  width:220px;
  height: 220px;
  padding-left: 5px;
}

.womanImages {
  display: flex;
  margin: 10px 0px;
}

.womanImages img {
  width: 220px;
  height: 220px;
}
.footerBanner{
  margin: 2px;
}
.footerBanner img{
width: 100%;
height: 200px;
}